{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'core:home' %}">
            <img src="{% static 'assets/simb2.png' %}" alt="{% if site_settings %}{{ site_settings.site_name }}{% else %}Steve Cardenas Ortiz{% endif %}" height="100" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                {% if navigation %}
                    {% for nav_item in navigation %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url nav_item.url_name %}">{{ nav_item.display_name }}</a>
                    </li>
                    {% endfor %}
                {% else %}
                    <!-- Fallback navigation if no dynamic navigation is set -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'core:home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'resume:resume' %}">Resume</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'projects:projects' %}">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact:contact' %}">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
